ul.explorer {
  position: relative;
  overflow: hidden;
}

ul.explorer,
ul.explorer ul {
  margin: 0;
  padding: 0;
  border: 0;
}

ul.explorer ul.entries {
  padding-left: 1.5rem;
}

ul.explorer li.entry {
  margin: 0;
  padding: 0;
  border: 0;
  width: 10000px;
  list-style-type: none;
}

ul.explorer li.draggable.entry.dragging {
  position: fixed;
  z-index: 10000;
}

ul.explorer li.collapsed.directory-name.draggable.entry > ul.entries {
  display: none;
}

ul.explorer li.marker.entry {
  height: 1.75rem;
  width: 3rem;
  background-image: url('image/marker.png');
  background-repeat: no-repeat;
  background-position: 1.25rem 0.75rem;
}

ul.explorer li.entry > button.name {
  outline: none;
  border: none;
  height: 1.75rem;
  text-align: left;
  vertical-align: top;
  background-color: transparent;
  background-repeat: no-repeat;
}

ul.explorer li.file-name.draggable.entry > button.name {
  padding-left: 2.75rem;
  background-image: url('image/file.png');
  background-position: 1.5rem 0.5rem;
}

ul.explorer li.directory-name.draggable.entry > button.name {
  padding-left: 1.5rem;
  background-image: url('image/directory.png');
  background-position: 0.125rem 0.5rem;
}

ul.explorer li.directory-name.draggable.entry > button.toggle {
  outline: none;
  border: none;
  height: 1.75rem;
  width: 1.5rem;
  position: relative;
  vertical-align: top;
  background-color: transparent;
}

ul.explorer li.directory-name.draggable.entry > button.toggle::before {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 1rem;
  content: '\025bc';
}

ul.explorer li.collapsed.directory-name.draggable.entry > button.toggle::before {
  content: '\025b6';
}

.rubbish-bin {
  background-image: url('image/rubbish-bin.png');
  width: 25px;
  height: 26px;
}

.open.rubbish-bin {
  background-image: url('image/open-rubbish-bin.png');
}
