div.explorer {
  position: relative;
  overflow: hidden;
}

div.explorer ul.entries {
  margin: 0;
  padding: 0;
  border: 0;
  padding-left: 2.4rem;
}

div.explorer > ul.entries {
  padding-left: 0;
}

div.explorer li.entry {
  margin: 0;
  padding: 0;
  border: 0;
  width: 10000px;
  font-size: 0;
  list-style-type: none;
}

div.explorer li.draggable.entry.dragging {
  position: fixed;
  z-index: 10000;
}

div.explorer li.collapsed.directory-name.draggable.entry > ul.entries {
  display: none;
}

div.explorer li.marker.entry {
  height: 2.4rem;
  width: 4rem;
  background-image: url('image/marker.png');
  background-repeat: no-repeat;
  background-position: 1.8rem 1rem;
}

div.explorer li.entry > button.name {
  outline: none;
  border: none;
  height: 2.4rem;
  text-align: left;
  vertical-align: top;
  background-color: transparent;
  background-repeat: no-repeat;
}

div.explorer li.file-name.draggable.entry > button.name {
  padding-left: 4rem;
  background-image: url('image/file.png');
  background-position: 2.2rem 0.5rem;
}

div.explorer li.directory-name.draggable.entry > button.name {
  padding-left: 2.4rem;
  background-image: url('image/directory.png');
  background-position: 0.3rem 0.6rem;
}

div.explorer li.directory-name.draggable.entry > button.toggle {
  outline: none;
  border: none;
  height: 2.4rem;
  width: 2rem;
  position: relative;
  vertical-align: top;
  background-color: transparent;
}

div.explorer li.directory-name.draggable.entry > button.toggle::before {
  position: absolute;
  top: 0.4rem;
  left: 0.4rem;
  width: 1.6rem;
  content: '\025bc';
}

div.explorer li.collapsed.directory-name.draggable.entry > button.toggle::before {
  content: '\025b6';
}

div.rubbish-bin {
  background-image: url('image/rubbish-bin.png');
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
}

div.open.rubbish-bin {
  background-image: url('image/open-rubbish-bin.png');
}
