html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 13px;
}

html * {
  font-size: 1rem;
}

.rubbishBin {
  position: fixed;
  top: 18rem;
}

.first.explorer {
  position: fixed;
  top: 24rem;
}
